<!DOCTYPE html>
<html>
<head>
<title><%= content_for?(:title) ? yield(:title) : title %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Plural.cc Page" %>" />
<meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : "plural" %>" />
<meta name="author" content="jmarsden" />
<meta charset="UTF-8" />
<%= render 'layouts/stylesheets' %>
<%= content_for?(:stylesheet) ? yield(:stylesheet) : "" %>
<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojo/dojo.xd.js' %>
<%= content_for?(:javascript) ? yield(:javascript) : "" %>
<%= csrf_meta_tag %>
</head>
<body>
<%= render 'layouts/sitebar' %>
<%= render 'layouts/header' %>
<div id="page">
	<%= content_for?(:content) ? content_block(yield(:content)) : yield %>	
</div>
<%= render 'layouts/footer' %>
<%= content_for?(:tracker) ? yield(:tracker) : render(:partial=>"layouts/default/tracker") %>
</body>
</html>
